body html {
  height: 100%;
  background-color: darkgray;
}
html {
  display: block;
}
.para1 {
  background-image: url("/images/adel2.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.6; */
}
.header {
  padding: 10px;
  text-align: center;
  font-style: italic;
  font-size: 30px;
  animation-name: an1;
  background-color: darkgray;
}
.p1 {
  text-align: right;
  font-size: 50px;
  color: black;
  font-style: italic;
}
.p2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
  background-color: darkgray;
}
.ul1 {
  list-style-type: none;
  margin: -10px;
  padding: 0;
  width: 20%;
  background-color: darkgray;
  position: fixed;
  height: 80%;
  overflow: auto;
  margin-top: 10px;
}

#li1 a {
  color: maroon;
  font-style: oblique;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}
#footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* All for About HTML Page */
.div-h {
  border: 2px solid blueviolet;
  border-radius: 10px;
  background-color: mediumturquoise;
  text-align: center;
  height: 60px;
  width: 350px;
  margin-right: 50%;
  margin-left: 35%;
  align-items: center;
}
.p1 {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
}

.para {
  background-image: url("/images/adel4.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* All styles for Experience Page */
.div-e {
  background-color: rgb(0, 102, 128);
  font-style: italic;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.para-e {
  background-image: url("/images/Experience-photo2.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h1-e {
  border: 2px solid blueviolet;
  border-radius: 10px;
  background-color: mediumturquoise;
  text-align: center;
  height: 50px;
  width: 350px;
  margin-right: 50%;
  margin-left: 35%;
  align-items: center;
}
.body-e {
  background-color: rgba(135, 166, 250, 0.685);
}
#p-e {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#li-e {
  font-size: 21px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
